body {
    background-color: whitesmoke;
    margin:0 auto 
}
.navbar{
    background-color: rgb(247, 47, 101);
    height:100px;
    width:100%;
    background-image: linear-gradient(rgb(245, 124, 144),rgb(244, 119, 10));
    display: flex;
}
.title{
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 25px;
}
#logo {
    width: 35px;
    margin-left: 30px;
}
.main{
    background-image:url("https://cdn.dribbble.com/users/1192941/screenshots/3464129/daily-ui-042.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.7;
    margin:40px;
}
.main:hover{
    opacity:1.0;
}
#text{
    width:100%;
    height:50px;
    font-size: 15px;
    margin:15px;
    padding:20px; 
}
.done{
    text-decoration: line-through;
    float: right;
    clear:right;
    width: 40%;
    background-color: rgba(252, 60, 60, 0.863);
    border-radius: 5px;
    position: relative;
    display: flex;
    margin-bottom: 10px;
    height: 50px;
    margin-right: 40px;
}
li{
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
    position: relative;
}
.div{
    height: 700px;
    width:200px;
}
#trash {
    position: absolute;
    right: 0px;
    padding-right: 15px;
    width: 15px;
    margin-top: 18px;
}
#add-btn {
    width: 20px;
    height: 40px;
    padding: 20px;
}
.container {
    display: flex; 
    margin: 15px;
    border: 1px solid rgb(242, 128, 6);
}
.todo {
    background-color: rgba(255, 145, 42, 0.774);
    border-radius: 5px;
    position:relative; 
    display: flex; 
    margin-bottom: 10px;
    height: 50px;
    width:40%; 
}
.checkbox {
    position: absolute;
    right: 40px;
    width: 20px;
    margin-top: 18px;
}